<html>
<head>
<title>Fact Inserter</title>
<style>
.input-area {
  float: left;
  font-size: 17pt;
  font-family: Tahoma;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 3px black inset;
  padding-left: 1ex;
  width: 81%
}
#save {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 10%;
  font-family: Tahoma;
  float: left;
  border: 3px black inset;
  font-size: 17pt;
  padding-left: 1ex;
}
#save.active {
  background-color: blue;
  color: white;
}
#subresults .active {
  background-color: blue;
  color: white;
}
#second {
  clear: both;
}
#facts {
    float: left;
	background-color: grey;
    width: 50%;
}
#inferences {
    float: left;
    width: 50%;
}


</style>
<script src="static/tau-prolog.js"></script>
</head>
<body>

Try typing "I ate a ", use tab to select autocomplete items and enter to insert
<div>


<div id="input-area" class="input-area" contenteditable="true">Type here

</div>
<div id="save">
Save
</div>
</div>

<div id="second">
  <div id="results">

  </div>
  <div id="subresults">

  </div>

  <h1>Inserted Facts</h1>
  <div div="holder">
      <h2>Facts</h2>
      <div id="facts">

      </div>
      <h2>Inferences</h2>
      <div id="inferences">

      </div>
</div>
</div>

<script>
var facts = [];

function TrieNode(character) {
  this.children = {};
  this.key = null;
  this.value = null;
  this.character = character;
  this.memberOf = [];
}

function Trie() {
	this.root = new TrieNode("^", null);
    this.clear = function () {
        this.root = new TrieNode("^", null);
    }
	this.insert = function (key, value) {
  	var children = this.root.children;
    var t = null;
    var created = [];
    for (var i = 0; i < key.length; i++) {
    	var character = key.charAt(i);
      if (children.hasOwnProperty(character)) {
      	// we already have this character
        t = children[character]
      } else { // Object.hasOwnproperty
      	t = new TrieNode(character);
        children[character] = t;
        created.push(t);
      }
      children = t.children;
    }
    t.isLeaf = true;
    t.value = value;
    t.key = key;
    for (var i = 0 ; i < created.length; i++) {
        created[i].memberOf.push(t);
    }
  } // this.insert
  this.prefixes = function (prefix, order) {
  	var children = this.root.children;
    var t = null;
    var results = [];
    for (var i = 0 ; i < prefix.length ; i++) {
    	var character = prefix.charAt(i);
      if (children.hasOwnProperty(character)) {
      	t = children[character];
        children = t.children;
      } else {
      	console.log("Early return");
      	return results;
      }
    } // string scan
    if (t != null && t.isLeaf) {
      results.push(t);
    } else {
      if (order == "ascending") {
				this.descendAscending(results, children);
      } else if (order == "descending") {
      	this.descendDescending(results, children);
      } // if order
    } // else
		return results;
  } // this.prefixes

  this.mostLikely = function (prefix) {
      var children = this.root.children;
      var t = null;
      var results = [];
      for (var i = 0 ; i < prefix.length ; i++) {
      	var character = prefix.charAt(i);
        if (children.hasOwnProperty(character)) {
            console.log("Found match");

            t = children[character];
            children = t.children;
        } else {

        }
      } // string scan
      return t;
  } // mostLikely

  this.descendAscending = function (results, children) {
  	var keys = Object.keys(children).sort(function (a, b) { return a-b; });
    for (var key of keys) {
    	if (children[key].isLeaf) {
      	results.push(children[key]);
      } else {
      	this.descendAscending(results, children[key].children);
      }
    }
  } // this.descendAscending
  this.descendDescending = function (results, children) {
  	var keys = Object.keys(children).sort(function (a, b) { return b-a; });
    for (var key of keys) {
    	if (children[key].isLeaf) {
      	results.push(children[key]);
      } else {
      	this.descendDescending(results, children[key].children);
      }
    }
  } // this.descendAscending

}

root = new Trie();
/*
root.insert("I ate a <fooditem> at <time> with <person>", {});
root.insert("I drunk <drinkitem>", {});
*/
// Addendum
var subtries = {};

/*
var foodTrie = new Trie();

var peopleTrie = new Trie();
subtries["person"] = peopleTrie;
subtries["fooditem"] = foodTrie;
subtries["drinkitem"] = new Trie();

subtries["drinkitem"].insert("milk")
subtries["drinkitem"].insert("water")
subtries["drinkitem"].insert("tea")
foodTrie.insert("bacon double cheeseburger")
foodTrie.insert("ice cream");

peopleTrie.insert("Luke Skinner");
peopleTrie.insert("Mindey");

*/

function clearTries() {
    for (var key of Object.keys(subtries)) {
            subtries[key].clear();
    }
}


function TrieInserter(subtrieName) {
	return function (parsed) {
  	subtries[subtrieName].insert(parsed[subtrieName]);
  }
}
/*
root.insert("I know <person>", TrieInserter("person"));
root.insert("I eat <fooditem>", TrieInserter("fooditem"));


var timeTrie = new Trie();
subtries["time"] = timeTrie;
timeTrie.insert("10:00am");
*/

function setCursorToEnd(ele){
    var range = document.createRange();
    var sel = window.getSelection();
    range.setStart(ele, 1);
    range.collapse(true);
    sel.removeAllRanges();
    sel.addRange(range);
}

console.log(root.prefixes("I ate", "ascending"));

var singleMatch = null;
var matchingFor = null;
var maxVariables = 0;
var parsed = {"parsed": {}};

function save(singleMatch, fact, parsed) {
    var clazz = "";
    if (singleMatch != null) {
        clazz = singleMatch.key
    }
    fetch('save/main', {
        method: "POST",
        headers: {
        'Content-Type': 'application/json',
        // 'Content-Type': 'application/x-www-form-urlencoded',
    },
        body: JSON.stringify({parsed: parsed, fact: fact, class: clazz})
    }).then(() => {
        renderFacts();
        // import fact
        if (typeof singleMatch.value === "function") {
      		singleMatch.value(parsed.parsed);
        }
    });
}

function formSave() {
    var inputArea = document.getElementById("input-area");
    save(singleMatch, inputArea.firstChild.textContent,
        parsed.parsed);
    inputArea.firstChild.textContent = "";
}

document.getElementById("save").addEventListener("click", formSave);

document.getElementById("input-area").addEventListener("focus", function () {
	if (event.target.textContent.indexOf("Type here") == 0 ) {
  	console.log("Clearing text area");
  	event.target.firstChild.textContent = "";
  }
});

function selectFirst() {
	var subresultsClasses = document.getElementById("subresults").childNodes[0].classList;
      if (subresultsClasses != undefined) {
    		subresultsClasses.add("active");
      }
}

document.getElementById("input-area").addEventListener("keydown", function (event) {
	console.log(event.keyCode);
  if (event.keyCode == 9 || event.keyCode == 40 || event.keyCode == 38 || event.keyCode == 13) {
		event.preventDefault();
    if (event.keyCode == 9) {
    	// are we finished?
        console.log(parsed.parsed);
      if (maxVariables == Object.keys(parsed.parsed).length) {
      	document.getElementById("save").classList.add("active");
      } else {
    		selectFirst();
      }
    } // tab button
    if (event.keyCode == 40) {
    	console.log("Down");
      var saveButton = document.getElementById("save");
      if (saveButton.classList.contains("active")) {
      	saveButton.classList.remove("active");
        selectFirst();
        return;
      }
    	var selected = document.querySelector("#subresults .active");
      if (selected == null) {
      	return;
      }
      selected.classList.remove("active");
      selected.nextSibling.classList.add("active");
    }
    if (event.keyCode == 38) {
    	console.log("Up");
    	var selected = document.querySelector("#subresults .active");
      if (selected == null) {
      	return;
      }
      selected.classList.remove("active");
      selected.previousSibling.classList.add("active");
    }
    if (event.keyCode == 13) {
    	var saveButton = document.getElementById("save");

      if (saveButton.classList.contains("active")) {
        var inputArea = document.getElementById("input-area");
      	formSave();
        saveButton.classList.remove("active");
        return;
      }

    	var selected = document.querySelector("#subresults .active");
      if (selected == null) {
      	return;
      }
      var inputArea = document.getElementById("input-area");
      var partialMatch = selected.textContent;


      var searchLeft = 0;
      var searchRight = 0;
      while (searchLeft < inputArea.textContent.length && searchRight < selected.textContent.length) {
      	if (inputArea.textContent[searchLeft] != selected.textContent[searchRight]) {
        searchLeft++;
        }
        if (inputArea.textContent[searchLeft] == selected.textContent[searchRight]) {
        	searchLeft++;
          searchRight++;
        }
      }
      console.log(searchRight);
      partialMatch = partialMatch.substring(searchRight);
      inputArea.textContent = inputArea.textContent + partialMatch + " ";

      setCursorToEnd(inputArea);
    }
  }
  });


function parseFact(source, search) {
    var source = source.split(" ");
    var values = search.split(" ");
    var i = 0;
    var soughtVariables = [];

    var sourceI = 0;
    var b = 0;
    maxVariables = 0;
    for (var m = 0; m < source.length ; m ++) {
      if (source[m][0] == "<") {
        maxVariables++;
      }
    }
    while (b < maxVariables) {
      b++

      // get to equal footing
      while (values[i] == source[sourceI]) {

        i++;
        sourceI++;
      } // values[i] == source[sourceI]
      if (source[sourceI][0] == "<") {
        var variable = source[sourceI].substring(1, source[sourceI].length - 1)

        // we've encountered a variable, collect values until we get to source[i+1]
        var search =  [];
        var stopindex = sourceI+1;
        while (i < values.length && values[i] != source[stopindex]) {
          search.push(values[i])
          i++
        }
        console.log(variable, search);
        soughtVariables.unshift([variable, search.join(" ")]);
        sourceI++

      } // in variable

    } // while matching

    return soughtVariables;
} // function parseFact

document.getElementById("input-area").addEventListener("keyup", function (event) {

  if (event.keyCode == 9 || event.keyCode == 40 || event.keyCode == 38 || event.keyCode == 13) {
  event.preventDefault();
  return;
  }

    var search = event.target.textContent.replace(/\u00A0/g, " ");


    var matches = root.prefixes(search, "ascending");
    console.log(matches.length);

    console.log("Matches are ", matches);
    var elements = matches.map(function (item) {
      var container = document.createElement("div");
      var textNode = document.createTextNode(item.key);
      container.appendChild(textNode);
      return container;
    });
    var results = document.getElementById("results");
    if (matches.length > 0) {
      while (results.hasChildNodes()) {
        results.removeChild(results.lastChild);
    }
      elements.forEach(function (item) {
        results.appendChild(item);
      });
    } // if matches length > 0

    if (matches.length == 1) {
      console.log(matches[0].key);
      singleMatch = matches[0];
    } // matches.length == 1
    if (singleMatch != null) {

      var soughtVariables = parseFact(singleMatch.key, search);


      if (soughtVariables.length > 0) {
        var topMost = soughtVariables[0];
        var variable = topMost[0];
        var query = topMost[1];

        parsed["parsed"] = {};
        for (var i = 0 ; i < soughtVariables.length ; i++) {
      		parsed.parsed[soughtVariables[i][0]] = soughtVariables[i][1];
      	}
      	console.log(parsed.parsed);

        var subresultMatch = subtries[variable].prefixes(query, "ascending");



       var resultNodes = subresultMatch.map(function (item) {
          var container = document.createElement("div");
          var textNode = document.createTextNode(item.key);
          container.appendChild(textNode);
          return container;
       });

       var subresults = document.getElementById("subresults");

       while (subresults.hasChildNodes()) {
        subresults.removeChild(subresults.lastChild);
        } // while removeChild

        resultNodes.forEach(function (item) {
          subresults.appendChild(item);
        }); // resultNodes.forEach


    } // soughtVariables.length > 0


    } // singleMatch != null

}) // addEventListener

function getVariables(text) {
    var matches = text.match(/\<([a-z]*)\>/g);
    matches = matches.map(item => {
        return item.substring(1, item.length - 1);
    });
    return matches;
}

function renderFacts() {

    fetch('http://localhost:5010/facts/main').then((response) => {
    		return response.json();
    	}).then((json) => {
            clearTries();
            for (var i = 0 ; i < json.length; i++) {
                var item = json[i];
                if (item.name.indexOf("<") != -1) {
                    var addendumBegin = item.name.indexOf("Addendum");
                    if (addendumBegin != -1) {
                        var variables = getVariables(item.name);
                        for (var variable of variables) {
                            if (!subtries.hasOwnProperty(variable)) {
                                subtries[variable] = new Trie();
                                root.insert(item.name.substring("Addendum".length + 1), TrieInserter(variable));
                            }
                        } // for (var variable of variables)
                    } else {
                        root.insert(item.name, {});
                    }
                }
            }
            for (var i = 0 ; i < json.length; i++) {
                var item = json[i];
                if (item.name.indexOf("<") == -1) {
                    console.log(item.name);
                    var match = root.mostLikely(item.name);
                    if (match == null) {
                        continue;
                    }
                    var mostLikely = match.memberOf[0];
                    console.log(item.name, "Most likely match is ", mostLikely, mostLikely.key);
                    match = match.memberOf[0];
                    var soughtVariables = parseFact(match.key, item.name);
                    if (soughtVariables.length > 0) {


                        var parsed = {};
                        for (var j = 0 ; j < soughtVariables.length ; j ++) {
                            parsed[soughtVariables[j][0]] = soughtVariables[j][1];
                        }
                        if (typeof match.value === "function") {
                      		match.value(parsed);
                        }
                        console.log(getVariables(mostLikely.key));
                        for (var variable of getVariables(mostLikely.key)) {
                            if (subtries[variable] !== undefined && parsed[variable] !== undefined) {
                                subtries[variable].insert(parsed[variable]);
                            }
                        } // for (var variable of getVariables(mostLikely.key))
                    } // soughtVariables.length > 0
                } // (item.name.indexOf("<") == -1)
            } // for (var i = 0 ; i < json.length; i++)

            var factNodes = json.map(function (item) {
        		var container = document.createElement("div");
        		var textNode = document.createTextNode(item.name);
        		container.appendChild(textNode);
        		return container;
        	});
        	var factContainer = document.getElementById("facts");
        	while (factContainer.hasChildNodes()) {
        		factContainer.removeChild(factContainer.lastChild);
        	}
        	factNodes.forEach(function (item) {
        		factContainer.appendChild(item);
        	});
            var inferencesArea = document.getElementById("inferences");
            while (inferencesArea.hasChildNodes()) {
                inferencesArea.removeChild(inferencesArea.lastChild);
            }

            var session = pl.create();
            var LOGIC = "Logic";
            var INFERENCE = "Inference";
            var logicRules = json.filter(item => item.name.indexOf(LOGIC) !== -1)
            var inferences = json.filter(item => item.name.indexOf(INFERENCE) !== -1)
            var logicStatements = logicRules.map(item => {
                var beginning = item.name.indexOf(LOGIC);
                var logic = item.name.substring(beginning + LOGIC.length + 1);
                return logic;
            });
            var inferStatements = inferences.map(item => {
                var beginning = item.name.indexOf(INFERENCE);
                var logic = item.name.substring(beginning + INFERENCE.length + 1);
                return logic;
            });

/*
likes(sam, X).
likes(john, sam).
and(A,B):- is_true(A), is_true(B).
or(A,B):- is_true(A) ; is_true(B).
and(likes(sam, john),likes(john, sam)).
*/
/*
`and(likes(sam, X), likes(X, sam)).`
*/


            // Inference and(likes(sam, X), \+(likes(X, sam))).
            session.consult(`
            is_true(true).
            is_true(A):- var(A), !, false.
            is_true(and(A,B)):- and(A,B).
            is_true(or(A,B)):- or(A,B).
            and(A,B):- A,B.
            or(A,B):- A;B.
            ` + logicStatements.join("\n")
            , {
                success: function() {
                    // Query
                    for (var statement of inferStatements) {
                        console.log("Running query of", statement);
                        session.query(statement, {
                            success: function(goal) {
                                // Answers
                                session.answer({
                                    success: function (statement) {
                                        return function(answer) {
                                            console.log("answer", answer.links);
                                            var keys = Object.keys(answer.links);
                                            var container = document.createElement("div");
                                            var textNode = document.createTextNode(statement);
                                            var ul = document.createElement("ul");
                                            container.appendChild(textNode);
                                            container.appendChild(ul);
                                            for (var key of keys) {
                                                var li = document.createElement("li");
                                                var textNode = document.createTextNode(key + "=" + answer.links[key])
                                                li.appendChild(textNode);
                                                container.appendChild(li);
                                            }
                                            inferencesArea.appendChild(container);
                                        }
                                    }(statement),
                                    error:   function(err) { console.log("answer", err); },
                                    fail:    function() { console.log("answer fail"); },
                                    limit:   function() { /* Limit exceeded */ }
                                })
                            },
                            error: function(err) { console.log("query", err); }
                        });
                    } // for (var statement of inferStatements)
                }, // session.consult success
                error: function(err) { console.log("consult", err); }
            }); // session.consult



    	}); // json then


} // function renderFacts

renderFacts();

</script>
</body>
</html>
